<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <context:component-scan base-package="com.alibaba.aventus.test.extension.spi.impl"/>

    <bean class="com.alibaba.aventus.extension.spring.ExtensionSpringConfiguration"/>

    <bean id="superServiceImpl1" class="com.alibaba.aventus.test.extension.spi.impl.SuperServiceImpl1"/>

    <bean id="superServiceImpl2" class="com.alibaba.aventus.test.extension.spi.impl.SuperServiceImpl2"/>

    <bean class="com.alibaba.aventus.test.extension.spi.impl.SuperServiceBaseImpl"/>

    <bean id="baseFunctionImpl" class="com.alibaba.aventus.test.extension.spi.impl.BaseFunctionImpl"/>

    <bean id="baseSupplierImpl" class="com.alibaba.aventus.test.extension.spi.impl.BaseSupplierImpl"/>

    <bean id="yhbFunctionImpl" class="com.alibaba.aventus.test.extension.spi.impl.YhbFunctionImpl"/>

    <bean id="yhbSupplierImpl" class="com.alibaba.aventus.test.extension.spi.impl.YhbSupplierImpl"/>

    <bean id="myAspect" class="com.alibaba.aventus.test.extension.aspect.MyAspect"/>

    <aop:config proxy-target-class="false">
        <aop:pointcut id="pl" expression="bean(*Spi)"/>
        <aop:aspect id="webLogAdvice" ref="myAspect">
            <aop:around method="around" pointcut-ref="pl"/>
        </aop:aspect>
    </aop:config>


    <bean id="ORDER-CREATE-FLOW" class="com.alibaba.aventus.flow.Flow">
        <constructor-arg name="name" value="ORDER-CREATE"/>
        <constructor-arg name="nodes">
            <util:list>
                <bean class="com.alibaba.aventus.test.flow.node.OrderCreateNode1"/>
                <bean class="com.alibaba.aventus.test.flow.node.OrderCreateNode2"/>
                <bean class="com.alibaba.aventus.test.flow.node.OrderCreateNode2"/>
                <bean class="com.alibaba.aventus.test.flow.node.OrderCreateNode2"/>
                <bean class="com.alibaba.aventus.test.flow.node.OrderCreateNode2"/>
                <bean class="com.alibaba.aventus.test.flow.node.OrderCreateNode2"/>
                <bean class="com.alibaba.aventus.test.flow.node.OrderCreateNode2"/>
                <bean class="com.alibaba.aventus.test.flow.node.OrderCreateNode3"/>
            </util:list>
        </constructor-arg>
    </bean>

</beans>